body {
	/*background-color:rgba(228,227,227,1.00);*/
	background-color:#2b2b2b;
	width:auto;
	position:relative
}

.Container {
	position:relative;
	width:900px;
	height:auto;
	clear:both;
	overflow:hidden;
	/*background-color:#fff;*/
	background-color:#2b2b2b;
	margin:40px auto;
	margin-left:25%;
	margin-bottom:25px;
	position:relative;
	border:1px solid white;
	border-radius:20px;
	-webkit-box-shadow:7px 9px 23px 0 rgba(92,89,92,1);
	-moz-box-shadow:7px 9px 23px 0 rgba(92,89,92,1);
	box-shadow:7px 9px 23px 10 rgba(92,89,92,1);
}

#Header {
	position:relative;
	margin-left:40px;
	height:65px;
	width:177px;
	background-image:url(../img/Maske.jpg);
	background-repeat:no-repeat;
	margin-top:30px;
	margin-bottom:30px;
	border:1px solid white;
	border-radius:20px;
	white-space:nowrap;
	-webkit-box-shadow:9px 9px 23px 0 rgba(92,89,92,1);
	-moz-box-shadow:9px 9px 23px 0 rgba(92,89,92,1);
	box-shadow:9px 9px 23px 0 rgba(92,89,92,1);
}

#Headertext {
	font-family:Georgia;Arial, Helvetica, sans-serif;
	font-style:italic;
	color:#919191;
	font-weight:bold;
	font-size:30px;
	margin:18px 0px 0px 400px;
}


.LeftBody {
	width:300px;
	float:left;
	height:auto;
	min-height:550px;
	margin:20px;
}

.RightBody {
	width:510px;
	float:right;
	height:auto;
	min-height:550px;
	margin:20px;
}

.FormElement {
	width:310px;
	height:17px;
	margin:50px 120px 6px;
}

.TField {
	
	width:310px;
	height:20px;
	border:1px #E0DFDF;
	border-radius:8px;
	padding-left:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
}

.Footer {
	line-height: 8px;
	position:relative;
	bottom: 0;
	width: 900px;
	height: 40px;
	margin-left:25%;
	border:1px solid white;
	border-radius:12px;
	-webkit-box-shadow:7px 9px 23px 0 rgba(92,89,92,1);
	-moz-box-shadow:7px 9px 23px 0 rgba(92,89,92,1);
	text-align: center;
	margin-left:25%;;
}

.fancybox {
	position:relative;
}

.fancybox img {
	width:277px;
height:389px;
	position:relative;
	margin-top:40px;
	float:left;
	margin-left:20px;
	border:1px solid white;
	border-radius:20px;
	-webkit-box-shadow:7px 9px 23px 0 rgba(92,89,92,1);
	-moz-box-shadow:7px 9px 23px 0 rgba(92,89,92,1);
}

.Messages {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 17px;
	color:#fff;
	white-space:nowrap;
	margin-top:100px;
	margin-left:123px;
}

.h1 {
	font-family:Arial, Helvetica, sans-serif;
	/*color:#333;*/
	color:white;
	font-size:25px;
	/*margin-top:40px;
	margin-bottom:45px;
	float:right;*/
}

.Welcome {
	margin-left:85px;
	margin-top:38px;
	font-family:Arial, Helvetica, sans-serif;
	/*color:#333;*/
	color:white;
	font-size:25px;
}

.button {

	width:200px;
	height:30px;
	border:1px solid white;
	border-radius:10px;
	background-color:#2B2B2B;
	color:#FFF;
	font-size:20px;
	-webkit-box-shadow:7px 9px 23px 0 rgba(92,89,92,1);
	-moz-box-shadow:7px 9px 23px 0 rgba(92,89,92,1);
	margin-top:25px;
}

.button:hover {
	background-color:rgb(68, 68, 68);
	color:#CCC;
}

.WelcomeButton {
	width:200px;
	height:30px;
	border:1px solid white;
	border-radius:10px;
	background-color:#2B2B2B;
	color:#FFF;
	font-size:20px;
	-webkit-box-shadow:7px 9px 23px 0 rgba(92,89,92,1);
	-moz-box-shadow:7px 9px 23px 0 rgba(92,89,92,1);
	margin-top:25px;
	margin-left:85px;
	margin-top:283px;
}

.WelcomeButton: hover {
	background-color:rgb(68, 68, 68);
	color:#CCC;
}

.WelcomeButton1 {
	width:200px;
	height:30px;
	border:1px solid white;
	border-radius:10px;
	background-color:#2B2B2B;
	color:#FFF;
	font-size:20px;
	-webkit-box-shadow:7px 9px 23px 0 rgba(92,89,92,1);
	-moz-box-shadow:7px 9px 23px 0 rgba(92,89,92,1);
	margin-top:25px;
	margin-left:85px;
	margin-top:70px;
}

.WelcomeButton1:hover {
	background-color:rgb(68, 68, 68);
	color:#CCC;
}

.button1{
	margin:40px 0px 0px 3px;
	width:150px;
	height:30px;
border:1px solid white;
border-radius:10px;
background-color:#2B2B2B;
color:#FFF;
font-size:20px;
-webkit-box-shadow:7px 9px 23px 0 rgba(92,89,92,1);
-moz-box-shadow:7px 9px 23px 0 rgba(92,89,92,1);

}
.button1:hover {
	background-color:rgb(68, 68, 68);
	color:#CCC;
}


.button2{
	margin:40px 0px 0px 40px;
	width:150px;
	height:30px;
border:1px solid white;
border-radius:10px;
background-color:#2B2B2B;
color:#FFF;
font-size:20px;
-webkit-box-shadow:7px 9px 23px 0 rgba(92,89,92,1);
-moz-box-shadow:7px 9px 23px 0 rgba(92,89,92,1);

}
.button2:hover {
	background-color:rgb(68, 68, 68);
	color:#CCC;
}


.text {
width:350px;
height:233px;
margin-top:33px;
overflow:auto;
border:2px solid black;
border-radius:10px;
padding:10px 10px 10px 10px;
background-color:#CCC;
font-size:18px;
-webkit-box-shadow:7px 9px 23px 0 rgba(92,89,92,1);
-moz-box-shadow:7px 9px 23px 0 rgba(92,89,92,1);


}

h2 {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	fontweight:lighter;
	margin:0;
}

h6 {
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:15px;
	font-weight:lighter;
	margin:0;
}

a:visited {
	color:#999;
	text-decoration:none;
}

a:hover {
	color:#fff;
	text-decoration:none;

}

a:link,a:active {
	color:grey;
	text-decoration:none;
}
:focus {
    outline: 0;
} /* SAFARI */

/* FIREFOX + OPERA
es reicht eine Definition des Backgrounds oder der Border aus um die blaue Outline zu entfernen */
input,
button,
textarea {
        background: #fff;
        border: 1px solid #000;
}

